#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
  background-color: yellow;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  cursor: pointer;
  border: dotted;
}

th {
  background: black;
  color: yellow;
  padding: 10px;
  margin: 0 auto;
  font-size: xx-large;
}

.titles {
  text-decoration: underline;
  padding: 1rem;
  font-weight: bolder;
  background-color: black;
  color: yellow;
}

tr:hover {
  background-color: black;
  color: yellow;
}

.name {
  padding: 5px;
  margin: 2px;
}

td {
  padding: 10px 5px 3px 4px;
}

tr td {
  padding-bottom:10px;
  padding-top: 10px;
}